
body {
    text-align: center;
    background-image: url('https://as2.ftcdn.net/jpg/01/93/74/19/500_F_193741992_6MPHjs94CzpLcT4lcLhOQsOzh3jDwT8t.jpg') no-repeat cover;
}

.title {
    position: relative;

}

h1 {
    position: relative;
    font-size: 4em;
    margin: 0 auto;
    padding-top: 3%;
    z-index: 4;
    font-family: 'Love Ya Like A Sister', cursive;
    color: rgb(245, 217, 58);
}

.buttons {
    position: relative;
    z-index: 3;
    margin: 2% 15%;
    padding-left: 2%;
    display: flex;
    justify-content: space-around;
}

button {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
    border: 3px outset rgb(141, 139, 139);
}

button:active, button:focus {
    box-shadow: 2px 2px rgb(78, 76, 76);
    top: 3px;
    outline-style: none;
}


h3 {
    font-size: 1.1rem;
    padding: 3px;
    font-family: 'Roboto Mono', monospace;
}

.board {
    background-color: rgb(209, 29, 29); 
    position: absolute;
    width: 70%;
    height: 85%;
    margin: 0 15%;
    border-radius: 5%;
    z-index: 1;
    border: 12px groove rgba(187, 13, 13, 0.664);
}

:root {
--grid-cols: 1;
--grid-rows: 1;
}

#grid-container {
    position: relative;
    margin: 1% 25%;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 4px solid black;
    width: 50vw;
    height: 50vh; 
    background-color: rgb(204, 204, 204);
    overflow: hidden;
    z-index: 5;
    border-radius: 10px;
}

.grid-item {
    padding: 50%;
    border: 1px dotted rgba(134, 134, 134, 0.719);
}
